<!--<footer class="footer text-muted">
  <div class="container-{{ if .Site.Params.options.fullWidth }}fluid{{ else }}xxl{{ end }}">
    <div class="row">
      <div class="col-lg-8 order-last order-lg-first">
        <ul class="list-inline">
          {{ range .Site.Menus.footer -}}
            <li class="list-inline-item"><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
          {{ end -}}
        </ul>
      </div>
      <div class="col-lg-8 order-first order-lg-last text-lg-end">
        <ul class="list-inline">
          <li class="list-inline-item">{{ .Site.Params.footer | safeHTML }}</li>
        </ul>
      </div>
    </div>
  </div>
</footer> -->

<footer class="footer">
  <div class="container py-2 px-4 px-md-3">
    <div class="row">
      
      <div class="col-8 col-lg-2 offset-lg-1 mb-3">
        <h5>Мастерские</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="/workshops/moscow/main/">На Самокатной</a></li>
          <li class="mb-2"><a href="/workshops/moscow/branch/">Филиал в МД</a></li>
          <li class="mb-4"><a href="/workshops/tbilisi/">Тбилиси</a></li>
          <li class="mb-4"><a href="/workshops/shipment/">Пересыл</a></li>
        </ul>
      </div>
      <div class="col-8 col-lg-2 offset-lg-1  mb-3">
        <h5>Йибуй</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="/articles/">Статьи</a></li>
          <li class="mb-2"><a href="/learn/">Обучение</a></li>
          <li class="mb-2"><a href="/about/">О проекте</a></li>
          <li class="mb-4"><a href="/about/contribute/">Донейшн</a></li>
          <li class="mb-2"><a href="/about/user-agreement/">Пользовательское соглашение</a></li>
        </ul>
      </div>
      <div class="col-8 col-lg-2 offset-lg-1  mb-3">
        <h5>Сообщество</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="https://t.me/guitar_hangar_gazeta" target="_blank" rel="noopener">ТГ-канал</a></li>
          <li class="mb-2"><a href="https://t.me/telekurilka" target="_blank" rel="noopener">ТГ-курилка</a></li>
          <li class="mb-2"><a href="https://vk.com/mux22" target="_blank" rel="noopener">Паблик ВК</a></li>
          <li class="mb-2"><a href="https://instagram.com/guitar_hangar" target="_blank" rel="noopener">Инста</a></li>
          <li class="mb-2"><a href="https://youtube.com/@mux22" target="_blank" rel="noopener">Ютубище</a></li>
          <li class="mb-4"><a href="https://www.facebook.com/gemtiguitars" target="_blank" rel="noopener">Facebook (eng)</a></li>
          <li class="mb-2 text-nowrap"><a href="/chat/">Мастеровой чат</a></li>

        </ul>
      </div>
      <div class="col-8 col-lg-2 offset-lg-1  mb-3">
        <h5>Связь</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><b>Москва</b>: <a href="https://t.me/guitar_hangar" target="_blank" rel="noopener">телеграм</a>, <a href="https://vk.me/mux22" target="_blank" rel="noopener">вк</a>

          <li class="mb-4"><b>Тбилиси</b>: <a href="https://t.me/tbilisi_guitar_shop" target="_blank" rel="noopener">телеграм</a>, <a href="https://www.facebook.com/gemtiguitars" target="_blank" rel="noopener">фб</a></li>

          <li class="mb-4"><a href="mailto:vagongitar@gmail.com" target="_blank" rel="noopener">Электропочта</a></li>
          <li class="mb-2"><a href="https://t.me/mux22" target="_blank" rel="noopener">Замечания по сайту</a></li>
        </ul>
      </div>
      <div class="col-lg-4 order-lg-first text-center text-lg-start">
        <a class="d-inline-flex align-items-center" href="/" aria-label="EBGDAE">
          <h5>П О Л И Г О Н</h5>
        </a>
        <ul class="list-unstyled">
          <li class="mb-2">Тестовый сайт, нужный для проверки статей без помощи МТ</li>
        </ul>
      </div>
    </div>
  </div>
</footer>